<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/base_page.css">
        <link rel="stylesheet" href="css/weather.css">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-342083-5"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> 
        <script src="js/weather.js"></script>
        <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments)};
                gtag('js', new Date());
                gtag('config', 'UA-342083-5');
            </script>
        <title>Weather</title>
    </head>
    <body>
        <div id="page-wrapper">
            <nav id="topbar">
                <div class="sides">
                    <a class="elem">Dashboard</a>
                </div>
                <ul class="apis elem">
                    <li>
                        <a class="nav-link" href="youtube.html">Youtube</a>
                    </li>
                    <li>
                        <a class="nav-link current" href="weather.html">
                            Weather
                            <div class="arrow-up"></div>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="gmap.html">Map</a>
                    </li>
                    <li>
                        <a class="nav-link" href="pornhub.html">Pornhub</a>
                    </li>
                </ul>
                <form class="sides">
                    <button class="elem"
                        onclick={signOut()}>
                        LogOut
                    </button>
                </form>
            </nav>
            <div id="page-inner">
                <form method="POST">
                    <div id="getInfos">
                        <input id="city" name="city_name" type="text" placeholder="Enter a city name..."/>
                        <button id="getWeather">Get Weather</button>
                    </div>
                </form>
                <div id="city_infos">
                    <% for (weather of weather_data) { %>
                    <div id="weather-infos">
                        <div class="weather-img">
                            <img src="http://openweathermap.org/img/w/<%= weather.icon; %>.png"/>
                        </div>
                        <div class="name">
                            <strong>
                                <span id="city-name"><%= weather.city; %></span>
                            </strong>
                        </div>
                        <span id="city-temp"><%= weather.temperature %></span>°C
                        <br/>
                        <span id="city-weather"><%= weather.description %></span>
                    </div>
                    <% } %>
                </div>
            </div>
            <script src="js/weather.js"></script>
        </div>
    </body>
</html>